#!/usr/bin/make -f

export DH_COMPAT=3

majorname	= $(shell grep library_names src/libraw1394.la | cut -d"'" -f 2 | cut -d" " -f 2)
fullversionname	= $(shell grep library_names src/libraw1394.la | cut -d"'" -f 2 | cut -d" " -f 1)

major 		= 5
libraw		= libraw1394-$(major)

# maintainer files for the so package (of the name $(libraw))
somaint		= postinst config templates


build: build-stamp
build-stamp:
	dh_testdir

	./configure --prefix=/usr --mandir=\$${prefix}/share/man
	$(MAKE)

	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp $(somaint:%=debian/$(libraw).%)

	-$(MAKE) distclean

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

	$(MAKE) install prefix=`pwd`/debian/tmp/usr

binary-indep: build install
# Nothing to do here

binary-arch: build install
	dh_testdir
	dh_testroot

	for i in $(somaint); do					\
		ln -sf libraw1394.$$i.in debian/$(libraw).$$i;	\
	done

	dh_movefiles -p$(libraw)		\
		usr/lib/$(majorname)		\
		usr/lib/$(fullversionname)

	dh_movefiles -plibraw1394-dev		\
		usr/lib				\
		usr/bin				\
		usr/include/libraw1394		\
		usr/share/aclocal/libraw1394.m4

	dh_installman
	dh_installdocs
	dh_installchangelogs
	dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_makeshlibs -V
	dh_installdeb
	LD_PRELOAD='' dh_shlibdeps -v -ldebian/$(libraw)/usr/lib
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
